<%- include('../layouts/main_header'); %>
<h1>Stories</h1>
<div class="row">
    <% if(stories) { %>
        <% stories.forEach( el => { %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%- helper.editIcon(el.user, user, el._id) %>
                    </div>
                    <div class="card-content center-align">
                        <h5><%= el.title %></h5>
                        <p><%= helper.truncate( helper.stripTags( el.body ), 150 ) %></p>
                        <br>
                        <div class="chip">
                            <img src="<%= el.user.image %>" alt="user image">
                            <a href="/stories/user/<%= el._id %>"><%= el.user.displayName %></a>
                        </div>
                    </div>
                    <div class="card-action center-align">
                        <a href="/stories/<%= el._id %>" class="btn grey">Read More</a>
                    </div>
                </div>
            </div>
        <% }) %> 
    <% }else { %>
        <p>No stories to display</p> 
    <% } %>    
</div>
<%- include('../layouts/main_footer'); %>